<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/header"></th:block>
</head>
<body>
<th:block th:include="fragments/nav"></th:block>
<table class="table">
<thead class="thead-dark">
	<tr>
		<th scope="col">번호</th>
		<th scope="col">이름</th>
		<th scope="col">회사</th>
	</tr>
</thead>
<tbody>
	<tr th:each="user : ${users}">
		<th scope="row"><a th:href="@{/users/{id}(id=${user.id})}"><span th:text="${user.id}">id</span></a></th>
		<td><span th:text="${user.name}">name</span></td>
		<td><span th:text="${user.company}">company</span></td>
	</tr>
</tbody>
</table>
<th:block th:include="fragments/footer"></th:block>
</body>
</html>